<%= form_for :product, :html => {:method => "post", :id => "create_product"}, :url => {:controller => "products", :action => "create"} do |f| %>
  <label>Product Name: <%= f.text_field :name %></label>
  <%= submit_tag "submit" %>
<% end %>

  <div id="products_list">
    <%= render :partial => 'products_list' %>
  </div>
